<div>
    <md-button class="md-icon-button" aria-label="Custom Icon Button" ng-click="toggleSidenav()" style="float:right;">
          <md-icon md-svg-icon="img/ic_close_black_24px.svg"></md-icon>
    </md-button>
</div>
<div ng-repeat="fav in favViewModel" width="100%">
    <table width="100%">
        <tr>
            <th>Haltestelle</th>
            <th>Linie</th>
            <th>Richtung</th>
        </tr>
        <tr>
            <td>{{fav.stationId}}</td>
            <td>{{fav.line}}</td>
            <td>{{fav.destination}}</td>
        </tr>
    </table>
</div>