<div style="width:100%;z-index:999;position:fixed;top:0;right:0;">
    <md-button class="md-icon-button" aria-label="Custom Icon Button" ng-click="toggleSidenav()" style="position:absolute;right:0;top:0;">
          <md-icon md-svg-icon="img/ic_close_black_24px.svg"></md-icon>
    </md-button>
</div>
<md-content>
    <section ng-repeat="favourite in favs" ng-hide="sidenav.loading">
        <md-subheader class="md-no-sticky">{{favourite.displayName}}</md-subheader>
        <md-list>
            <md-list-item ng-repeat="dep in favourite.departures | orderBy:'actualDeparture'">
                <table class="favs">
                    <tr>
                        <td>
                            <div layout="row" layout-align="start center">
                                <md-icon md-svg-src="{{isFav(favourite.stationId, dep.line, dep.destination) && '/img/ic_favorite_black_24px.svg' || '/img/ic_favorite_border_black_24px.svg'}}" aria-label="favourite" width="10" height="10" ng-click="fav(favourite.stationId, dep.line, dep.destination)" style="margin-left:0px;margin-right:10px;"></md-icon>
                                <timer max-time-unit="'minute'" end-time="dep.actualDeparture">{{mminutes}}:{{sseconds}}</timer>
                            </div>
                        </td>
                        <td title="{{dep.destination}}">{{dep.destination}}</td>
                        <td title="{{dep.line}}">{{dep.line}}</td>
                    </tr>
                </table>
            </md-list-item>
        </md-list>
    </section>
    <md-progress-circular ng-show="sidenav.loading" md-mode="indeterminate" style="margin-left:auto;margin-right:auto;"></md-progress-circular>
</md-content>