<div ng-swipe-left="nextStation()" ng-swipe-right="prevStation()">
  <header>
    <h1>
      <div layout="row" layout-align="center center">
        <a ng-href="#/overview">
          <div class="wrapper">
            <map class="map" id="map" center="50.831707,12.922202" zoom="14"></map>
            <i class="top"></i>
            <i class="right"></i>
            <i class="bottom"></i>
            <i class="left"></i>
            <i class="top left"></i>
            <i class="top right"></i>
            <i class="bottom left"></i>
            <i class="bottom right"></i>
          </div>
        </div>
      </a>
      <div style="text-align:center">CVAG</div>
    </h1>
  </header>

  <h2>{{station.displayName}}</h2>

  <div layout="row" layout-align="center start">
    <table>
      <tr>
        <th align="left">Abf.</th>
        <th align="center">Richtung</th>
        <th align="right">Linie</th>
      </tr>
      <tr ng-repeat="stop in station.stops">
        <td align="left"><timer max-time-unit="'minute'" end-time="stop.actualDeparture">{{mminutes}}:{{sseconds}}</timer></td>
        <td align="center">{{stop.destination}}</td>
        <td align="right">{{stop.line}}</td>
      </tr>
    </table>
  </div>
</div>