<div layout="column" layout-align="center center">
    <h1>Bedienung</h1>
    <h2>Hotkeys</h2>
    <div layout="row" layout-align="center center">
        <span class="cfp-hotkeys-key">?</span><span>Hotkeys für aktuelle Ansicht anzeigen</span>
    </div><br/>
    <div layout="row" layout-align="center center">
        <span class="cfp-hotkeys-key">←</span><span> ... oder nach rechts wischen: Vorherige Haltestelle (Haltestellenansicht)</span>
    </div><br/>
    <div layout="row" layout-align="center center">
        <span class="cfp-hotkeys-key">→</span><span> ... oder nach links wischen: Nächste Haltestelle (Haltestellenansicht)</span>
    </div>
    <h2>Haltestellenübersicht</h2>
    <div layout="row" layout-align="center center">
        <p>Ein Klick auf das Karten-Icon öffnet die Haltestellenübersicht. Ein Klick auf eine der Haltestellen darauf zeigt die Abfahrtszeiten dieser Haltestelle.</p>
    </div>
</div>