body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  flex: 0 1 30px;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
  position: relative;
}

.box .row.footer {
  flex: 0 1 40px;
}

#map {
    flex: 1;
    height: 100% !important;
    min-height: 100% !important;
    width: 100%;
    position: absolute;
}

tr:nth-child(even) {
    background-color: #DFDFDF;
}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:16px;
    margin-right:16px;
    padding-left: 16px;
    vertical-align: middle;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.favs{
    width: 100%;
}

.favs td{
    max-width: 0;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}