<div>
<b>{{selectedStation.displayName}}</b>
<md-progress-circular ng-show="selectedStation.loading" md-mode="indeterminate" style="margin-left:auto;margin-right:auto;"></md-progress-circular>
<table ng-hide="selectedStation.loading">
	<tr>
		<th>Linie</th>
		<th>Richtung</th>
		<th>Abfahrt</th>
	</tr>
	<tr ng-repeat="stop in selectedStation.stops">
		<td>{{stop.line}}</td>
		<td>{{stop.destination}}</td>
		<td><timer max-time-unit="'minute'" end-time="stop.actualDeparture">{{mminutes}}:{{sseconds}}</timer></td>
	</tr>
</table>
</div>